{
    "root": true,
    "env": {
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended",
        "plugin:vue/essential"
    ],
    "overrides": [
        {
            "files": [
                "*.vue",
                "*.js"
            ],
            "rules": {
                "indent": [
                    "error",
                    2,
                    {
                        "SwitchCase": 1
                    }
                ],
                "max-len": [
                    "warn",
                    120,
                    {
                        "ignoreUrls": true,
                        "ignoreComments": false,
                        "ignoreRegExpLiterals": true,
                        "ignoreStrings": true,
                        "ignoreTemplateLiterals": true
                    }
                ],
                "vue/multi-word-component-names": "off",
                "vue/component-name-in-template-casing": [
                    "error",
                    "kebab-case",
                    {
                        "registeredComponentsOnly": false,
                        "ignores": []
                    }
                ],
                "vue/max-attributes-per-line": [
                    "warn",
                    {
                        "singleline": 3
                    }
                ],
                "vue/html-indent": [
                    "error",
                    2
                ],
                "semi": [
                    "error",
                    "always"
                ],
                "quotes": [
                    "error",
                    "single"
                ]
            }
        }
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "allowImportExportEverywhere": true
    }
}